@using Microsoft.AspNetCore.Http
@using QualLMS.Domain.APIModels
@using QualLMS.Domain.Models
@using System.Text.Json
@using QualvationLibrary

@model AddUserAllData

@inject CustomLogger logger
@inject Client client

@{

    string OrganizationId = logger.OrganizationId.ToString();

    var IsError = logger.IsError;
    var IsSuccess = logger.IsSuccess;
    var ErrorMessage = logger.ErrorMessage;
    var SuccessMessage = logger.SuccessMessage;
}

<h2 class="main-title-w3layouts mb-2 text-center">Add @Model.Role.ToString()</h2>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/home">Home</a></li>
        <li class="breadcrumb-item"><a href="/user">Users</a></li>
        <li class="breadcrumb-item active">Add @Model.role.ToString()</li>
    </ol>
</nav>
<section class="forms-section">
    <div class="container-fluid">
        <div class="row">
            <div class="outer-w3-agile col-xl mt-3">
                <form method="post">
                    @{
                        if (Model.LoginRole == Roles.SuperAdmin)
                        {
                            <div class="form-group">
                                <label for="OrgId">Organization</label>
                                @if (Model.orgSelect != null)
                                {
                                    @Html.DropDownList("OrganizationId", Model.orgSelect as SelectList, "-- Please Select --", new { @class = "custom-select" })
                                }
                            </div>
                        }
                        else
                        {
                            <input type="hidden" id="OrganizationId" name="OrganizationId" value="@OrganizationId" />
                        }
                    }
                    <div class="form-group">
                        <label for="FullName">Full Name</label>
                        <input id="FullName" type="text" class="form-control" name="FullName" placeholder="Full name is mandatory" required="" value="@Model.FullName">
                    </div>
                    <div class="form-group">
                        <label for="EmailId">Email address</label>
                        <input id="EmailId" type="email" class="form-control" name="EmailId" placeholder="name@example.com" required="" value="@Model.EmailId">
                    </div>
                    <div class="form-group">
                        <label for="PhoneNumber">Phone#</label>
                        <input id="PhoneNumber" type="tel" class="form-control" name="PhoneNumber" placeholder="PhoneNumber is mandatory" required="" value="@Model.PhoneNumber">
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input id="Password" type="password" class="form-control" name="Password" placeholder="Password is mandatory" required="" value="@Model.Password">
                    </div>
                    <div class="form-group">
                        <label for="ConfirmPassword">Password</label>
                        <input id="ConfirmPassword" type="password" class="form-control" name="ConfirmPassword" placeholder="Confirm Password is mandatory" value="@Model.ConfirmPassword" required="">
                    </div>
                    @{
                        if (Model.role == Roles.Students)
                        {
                            <div class="form-group">
                                <label for="ParentName">Parent Name</label>
                                <input id="ParentName" type="text" class="form-control" name="ParentName" placeholder="Parent name is mandatory" required="" value="@Model.ParentName">
                            </div>
                            <div class="form-group">
                                <label for="ParentNumber">Parent Phone #</label>
                                <input id="ParentNumber" type="text" class="form-control" name="ParentNumber" placeholder="Parent Phone is mandatory" required="" value="@Model.ParentNumber">
                            </div>
                        }
                    }
                    <div class="form-group">
                        <input type="hidden" id="RoleId" name="RoleId" value="@Model.RoleId" />
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                    @if (IsError)
                    {
                        <div class="form-group">
                            <div class="alert alert-danger" role="alert">
                                @Html.Raw(ErrorMessage.Replace("\r\n", "<br />"))
                            </div>
                        </div>
                    }
                    @if (IsSuccess)
                    {
                        <div class="form-group">
                            <div class="alert alert-success" role="alert">
                                @SuccessMessage
                            </div>
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
</section>
