@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3 class="text-danger">Exceptions</h3>
<p>ErrorMessage :: @Model.ErrorMessage</p>
<p>Source :: @Model.Source</p>
<p>ErrorPath :: @Model.ErrorPath</p>
<p>StackTrace :: @Model.StackTrace</p>

@if (Model.InnerException != null)
{
    <h3 class="text-danger">Inner Exception</h3>
    <p>InnerException ErrorMessage :: @Model.InnerException.Message</p>
    <p>InnerException StackTrace :: @Model.InnerException.StackTrace</p>
}
